{% extends './layout/home.html' %}
{% block body %}

	<body class="main-blog">


		<!-- ====== Header ======  -->
		<header id="home" class="sub-header demo-2" data-stellar-background-ratio="0.5">
			<!-- header content -->
			<div class="caption v-middle text-center">
				<h1>Portfolio Of ALL projects</h1>
				<span>Anivalogy Gallery</span>
			</div>
		</header>
		<!-- ====== End Header ======  -->

		<!-- ====== posts ======  -->
		<section class="posts section-padding">
			<div class="container">
				<div class="row">
					<div class="main-post col-sm-9">

						<!-- posts -->

						<div class="col-md-12">
							<div class="post">
								<div class="s-post-title">
									<h5>DESIGN TRENDS IN 2017 YEAR</h5>
									<span><i class="fa fa-clock-o" aria-hidden="true"></i>  6  August</span>
									<span><i class="fa fa-user-o" aria-hidden="true"></i>  Admin</span>
									<span><i class="fa fa-tags" aria-hidden="true"></i>  Web Design</span>
									<span><i class="fa fa-comments-o" aria-hidden="true"></i>  7  Comments</span>
								</div>
								<div class="img-post">
									<img src="https://d33wubrfki0l68.cloudfront.net/4a978f4093b0a3472d7053e26d0f64e23b443bb2/18a95/img/blog/b1.jpg" alt="image">
								</div>
								<div class="post-content">
									<p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
									<a href='/single-post' class='button btn-bord-dark'>Read More</a>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="post">
								<div class="s-post-title">
									<h5>DESIGN TRENDS IN 2017 YEAR</h5>
									<span><i class="fa fa-clock-o" aria-hidden="true"></i>  6  August</span>
									<span><i class="fa fa-user-o" aria-hidden="true"></i>  Admin</span>
									<span><i class="fa fa-tags" aria-hidden="true"></i>  Web Design</span>
									<span><i class="fa fa-comments-o" aria-hidden="true"></i>  7  Comments</span>
								</div>
								<div class="img-post">
									<img src="https://d33wubrfki0l68.cloudfront.net/7ad8b8199d4f5dd2f9448fdb30b1b56ef4ec1a84/be46b/img/blog/b2.jpg" alt="image">
								</div>
								<div class="post-content">
									<p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
									<a href='/single-post' class='button btn-bord-dark'>Read More</a>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="post">
								<div class="s-post-title">
									<h5>DESIGN TRENDS IN 2017 YEAR</h5>
									<span><i class="fa fa-clock-o" aria-hidden="true"></i>  6  August</span>
									<span><i class="fa fa-user-o" aria-hidden="true"></i>  Admin</span>
									<span><i class="fa fa-tags" aria-hidden="true"></i>  Web Design</span>
									<span><i class="fa fa-comments-o" aria-hidden="true"></i>  7  Comments</span>
								</div>
								<div class="img-post">
									<img src="https://d33wubrfki0l68.cloudfront.net/c059fdf484b06760463d3b7c3c7c5c0ce4047545/fa105/img/blog/b3.jpg" alt="image">
								</div>
								<div class="post-content">
									<p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
									<a href='/single-post' class='button btn-bord-dark'>Read More</a>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="post">
								<div class="s-post-title">
									<h5>DESIGN TRENDS IN 2017 YEAR</h5>
									<span><i class="fa fa-clock-o" aria-hidden="true"></i>  6  August</span>
									<span><i class="fa fa-user-o" aria-hidden="true"></i>  Admin</span>
									<span><i class="fa fa-tags" aria-hidden="true"></i>  Web Design</span>
									<span><i class="fa fa-comments-o" aria-hidden="true"></i>  7  Comments</span>
								</div>
								<div class="img-post">
									<img src="https://d33wubrfki0l68.cloudfront.net/1e659133620bd9456b324770dd047e3699a4e7b3/ddce0/img/blog/b4.jpg" alt="image">
								</div>
								<div class="post-content">
									<p>Fusce elementum, erat quis volutpat porta, neque massa, ut tincidunt eros est nec diamneque massa, ut tincidunt eros est necFusce elementum, erat quis volutpat porta, neque massa</p>
									<a href='/single-post' class='button btn-bord-dark'>Read More</a>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="page-numb text-center">
								<span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
								<span class="active">1</span><span>2</span><span>...</span>
								<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
							</div>
						</div>

					</div>

					<!-- side bar -->
					<div class="side-bar col-sm-3">

						<!-- Search -->
						<div class="bars">
							<div class="search">
								<input type="text" name="search" placeholder="Search">
								<span><i class="fa fa-search" aria-hidden="true"></i></span>
							</div>
						</div>

						<!-- popular posts -->
						<div class="bars">
							<div class="pop-posts">
								<h5 class="r-tit">Popular Posts</h5>
								<div class="pop-item">
									<img src="https://d33wubrfki0l68.cloudfront.net/4a978f4093b0a3472d7053e26d0f64e23b443bb2/18a95/img/blog/b1.jpg" alt="image">
									<div class="pop-info">
										<h6>Web Design</h6>
										<span>August 6, 2016</span>
									</div>
								</div>

								<div class="pop-item">
									<img src="https://d33wubrfki0l68.cloudfront.net/7ad8b8199d4f5dd2f9448fdb30b1b56ef4ec1a84/be46b/img/blog/b2.jpg" alt="image">
									<div class="pop-info">
										<h6>Web Design</h6>
										<span>August 6, 2016</span>
									</div>
								</div>

								<div class="pop-item">
									<img src="https://d33wubrfki0l68.cloudfront.net/c059fdf484b06760463d3b7c3c7c5c0ce4047545/fa105/img/blog/b3.jpg" alt="image">
									<div class="pop-info">
										<h6>Web Design</h6>
										<span>August 6, 2016</span>
									</div>
								</div>

								<div class="pop-item">
									<img src="https://d33wubrfki0l68.cloudfront.net/1e659133620bd9456b324770dd047e3699a4e7b3/ddce0/img/blog/b4.jpg" alt="image">
									<div class="pop-info">
										<h6>Web Design</h6>
										<span>August 6, 2016</span>
									</div>
								</div>
							</div>
						</div>

						<!-- social icon -->
						<div class="bars">
							<div class="about-icon">
								<h5 class="r-tit">Follow Us Now</h5><br>
								<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
								<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
								<span><i class="fa fa-youtube" aria-hidden="true"></i></span>
								<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
								<span><i class="fa fa-github" aria-hidden="true"></i></span>
							</div>
						</div>

						<!-- categories -->
						<div class="bars">
							<div class="categ">
								<h5 class="r-tit">Categories</h5>
								<p>Web Design<span>20</span></p>
								<p>Graphic Design<span>42</span></p>
								<p>Fashion<span>5</span></p>
								<p>Photography<span>13</span></p>
								<p>Featured<span>22</span></p>
								<p>Django7<span>12</span></p>
							</div>
						</div>

						<!-- tags -->
						<div class="bars">
							<div class="tags">
								<h5 class="r-tit">Tag Cloud</h5><br>
								<span>Web</span>
								<span>Graphic</span>
								<span>Photo</span>
								<span>Django7</span>
								<span>Fashion</span>
								<span>Web</span>
								<span>Graphic</span>
								<span>Photo</span>
								<span>Django7</span>
								<span>Fashion</span>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<div class="clear-fix"></div>
		<!-- ====== End posts ======  -->




		
		<!--====== js ======-->

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- singlePageNav -->
		<script src='https://d33wubrfki0l68.cloudfront.net/js/ebce443b62587282a6a7a525fd45a44cd05f49ef/layout-1/js/jquery.singlepagenav.min.js'></script>

		<!-- owl carousel -->
		<script src='https://d33wubrfki0l68.cloudfront.net/js/bb58fb45196bfdfd9264552de221742cf7d4b75a/js/owl.carousel.min.js'></script>

		<!-- stellar js -->
		<script src='https://d33wubrfki0l68.cloudfront.net/js/8fdb0d77da9a6b77397f438141d0af686517171b/js/jquery.stellar.min.js'></script>

		<!-- typed js -->
      	<script src='https://d33wubrfki0l68.cloudfront.net/js/c99c3e5fb6c9a4c1d65cb4fb2590afc1ce86679c/typed.js'></script>

      	<!-- isotope.pkgd.min js -->
      	<script src='https://d33wubrfki0l68.cloudfront.net/js/5ffcda38920cf4fbcff71182c20641f2058aaa11/js/isotope.pkgd.min.js'></script>

      	<!-- custom js -->
      	<script src='https://d33wubrfki0l68.cloudfront.net/js/cc5e4613fb169a4ee406a71e6218bac9ada831de/js/custom.js'></script>

    </body>
    {% endblock  %}
</html>