{% extends './layout/home.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Django is a responsive creative agency template">
		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">

		<!-- Title -->
		<title>Django</title>

	</head>
	<body>
		{% block body %}

  <!-- ====== Header ======  -->
		<header id="home" class="sub-header demo-1" data-stellar-background-ratio="0.5">
			<div class="header-overlay">
				<!-- header content -->
				<div class="caption v-middle text-center">
					<h1>#</h1>
					<span></span>
				</div>
			</div>
		</header>
		<!-- ====== End Header ======  -->
				<!-- section header -->

				<div class="section-head text-center">
					<h5 class="tit">Our Price</h5>
				</div>

				<div class="row">

					<!-- price items -->
					<div class="col-md-4">
						<div class="prc-item text-center">
							<div class="type">
								<h5>Free</h5>
							</div>
							<div class="main-price">
								<h1>0<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>10 GB Hosting</p>
							</div>
							<div class="features">
								<p>-</p>
							</div>
							<div class="features">
								<p>-</p>
							</div>
							<div class="features item-bord">
								<p>-</p>
							</div>

							<button class="button btn-bord-dark">Purchase</button>
						</div>
					</div>

					<div class="col-md-4">
						<div class="prc-item active text-center">
							<div class="type">
								<h5>Medium</h5>
							</div>
							<div class="main-price">
								<h1>20<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>40 GB Hosting</p>
							</div>
							<div class="features">
								<p>Import User Data</p>
							</div>
							<div class="features">
								<p>Support 24/h</p>
							</div>
							<div class="features item-bord">
								<p>-</p>
							</div>

							<button class="button btn-bg-dark">Purchase</button>
						</div>
					</div>

					<div class="col-md-4">
						<div class="prc-item text-center">
							<div class="type">
								<h5>Heavy</h5>
							</div>
							<div class="main-price">
								<h1>50<span>$</span></h1>
							</div>
							<div class="features">
								<p>Any Ware Access</p>
							</div>
							<div class="features">
								<p>100 GB Hosting</p>
							</div>
							<div class="features">
								<p>Import User Data</p>
							</div>
							<div class="features">
								<p>Support 24/h</p>
							</div>
							<div class="features item-bord">
								<p>20 Unique Users</p>
							</div>

							<button class="button btn-bord-dark">Purchase</button>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End price ======  -->

		<!--====== Numbers ======-->
		<section class="numbers">
			<div class="container">
				<div class="row text-center">

					<!-- number items -->
					<div class="col-md-3 col-sm-6">
						<div class="numb-item">
							<span class="icon-happy"></span>
							<h3>234</h3>
							<p>HAPPY CLIENTS</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="numb-item">
							<span class="icon-layers"></span>
							<h3>1484</h3>
							<p>COMPLETE PROJECT</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="numb-item">
							<span class="icon-strategy"></span>
							<h3>736</h3>
							<p>CUP OF COFFIE</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="numb-item">
							<span class="icon-trophy"></span>
							<h3>7</h3>
							<p>AWARDS</p>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!--====== End Numbers ======-->

		<!--====== Contact ======-->
		<section id="contact" class="contact">
			<!-- contact icfo -->
			<div class="cont-info muilte">
				<div class="container">

					<!-- section header -->
					<div class="section-head text-center">
						<h5 class="tit">Find Us</h5>
					</div>

					<div class="row">

						<!-- info items -->
						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-map-pin"></span>
								</div>
								<div class="info-content">
									<h6>Address</h6>
									<h5>21 Jumpe Street</h5>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-phone"></span>
								</div>
								<div class="info-content">
									<h6>Phone</h6>
									<h5>+2001025178918</h5>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info-item">
								<div class="icon">
									<span class="icon-envelope"></span>
								</div>
								<div class="info-content">
									<h6>E-mail</h6>
									<h5>hishamdimo@gmail.com</h5>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>				
		</section>
		<!--====== End Contact ======-->
	</body>

</html>
	{% endblock  %}



