{% extends './layout/home.html' %}
{% block body %}

	<body>



		<!-- ====== Header ======  -->
			<!-- ====== Header ======  -->
		<header id="home" class="sub-header portfolio-bg" data-stellar-background-ratio="0.5">
			<!-- header content -->
			<div class="caption v-middle text-center">
				{%for s in services %}
				<h1>{{s.heading}}</h1>
				
				<span>Anivalogy Gallery</span>
			</div>
			{%endfor%}
		</header>
		<!-- ====== services ======  -->
		<section id="services" class="services section-padding ">
			<div class="container">

				<!-- section head -->
				<div class="section-head text-center">
					<h5 class="tit">SERVICES</h5>
				</div>

				<div class="row">

					<!-- services items -->
					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-mobile"></span>
								<h6>Web Design</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-paintbrush"></span>
								<h6>Graphic Design</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-strategy"></span>
								<h6>Branding</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>
					</div>

					<div class="serv-row text-center">
						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-aperture"></span>
								<h6>Development</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-camera"></span>
								<h6>Photographic</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="serv-item">
								<span class="icon-dial"></span>
								<h6>Seo</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End services ======  -->





		<!-- ====== process ======  -->
		<section class="process section-padding">
			<div class="container">
				<div class="row">

					<!-- items -->
					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>01</h5>
									<h6>Idea</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>02</h5>
									<h6>Planing</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>03</h5>
									<h6>Create</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="items text-center">
							<div class="item-title">
								<div class="item-rotate">
									<h5>04</h5>
									<h6>Success</h6>
								</div>
							</div>
							<div class="item-content">
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ====== End process ======  -->

		<!--====== Blocks ======-->
		<section class="blocks section-padding">
			<div class="container">
				<div class="row">

					<!-- blk-row -->
					<div class="blk-row">
						<div class="col-md-7">

							<!-- blk-item -->
							<div class="blk-item">
								<h5>Creative Template</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper onsectetur adipiscing elit consectetur adipiscing elit. In maximus ligula semper.</p>

								<div class="col-md-6 sub-item">
									<span class="icon-tools"></span>
									<div class="sub-info">
										<h6>Web Design</h6>
										<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. In maximus ligula semper.</p>
									</div>
								</div>

								<div class="col-md-6 sub-item">
									<span class="icon-mobile"></span>
									<div class="sub-info">
										<h6>Responsive Template</h6>
										<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. In maximus ligula semper.</p>
									</div>
								</div>

								<button class="button btn-bord-dark">View Project</button>
							</div>
						</div>

						<!-- blk-img -->
						<div class="col-md-5">
							<div class="blk-img">
								<img src="https://d33wubrfki0l68.cloudfront.net/img/b129d2ed5cf53fdec72db0a5a78914b35aef5b67/b1.jpg" alt="image">
							</div>
						</div>
					</div>

					<!-- blk-img -->
					<div class="col-md-7">
						<div class="owl-carousel owl-theme">
							<div class="blk-img">
								<img src="https://d33wubrfki0l68.cloudfront.net/6fe5e67b15429fc6120ccb89ca0e6bc0904a1fd0/20966/img/b2.png" alt="image">
							</div>

							<div class="blk-img">
								<img src="https://d33wubrfki0l68.cloudfront.net/c67ea7b305f8c65d343052e60d4b4081c7d60185/2123e/img/b3.png" alt="image">
							</div>
						</div>
					</div>

					<!-- blk-item -->
					<div class="col-md-5">
						<div class="blk-item">
							<h5>Responsive Design</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper.</p>
							<button class="button btn-bord-dark">View Project</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Blocks ======-->

    
	</body>
		
	
</html>
		{% endblock %}
